/* navigation bar */
.header {
  position: sticky;
  top: 0;
  background: #124060;
  border-bottom: 3px solid #395c7b;
  padding: 0.5%;
}

.nav {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
}

/* page layout */
.page {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #ffffff;
  min-height: 100vh;
  padding: 40px;
  text-align: left;
}

.header {
  width: 100%;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 2.5rem;
  font-weight: 700;
  color: #006ddb;
  margin-bottom: 30px;
  padding-left: 15%;
}

#hero {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 40px;
  color: #000000;
  text-align: left;
  padding-left: 15%;
}

/* profile image */
.profileImage {
  border-radius: 10%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* card container */
.card {
  background-color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

/* section headers */
.sectionTitle {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.subTitle {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 10px;
}

/* Body text */
.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}
