/* ======= NAVIGATION BAR ======= */
.header {
  background: #124060;
  position: sticky;
  top: 0;
  padding: 0;
  border-bottom: 5px solid #2c5483;
}

.navBar {
  display: flex;
  justify-content: space-between; /* logo left, nav links right */
  align-items: center;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  position: sticky;
  top: 0;
}

.navLinks {
  list-style: none;
  display: flex; /* key to make them in a row */
  gap: 2rem;    /* spacing between links */
  margin: 0;
  padding: 0;
}

.navLinks li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

/* ======= HERO ======= */
#hero {
  background: #124060;
  color: #000000;
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  display: flex;
  align-items: center; 
}

.heroContent {
  display: flex;
  justify-content: space-between; /* space text and image apart */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.heroText {
  flex: 1;                       /* take available left space */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* space out text vertically */
  height: 300px; 
  color: #ffffff;
}

.image {
  border-radius: 10%;
  flex: 1;                       /* take available right space */
  display: flex;
  justify-content: center;
}

/* ======= MAIN PORTFOLIO ======= */
.main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #ffffff;
  min-height: 100vh;
  text-align: left;
}

.card {
  background-color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.sectionTitle {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.subTitle {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 10px;
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
}